/* projects.css */
@import url(vars.css);

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  background-color: var(--darkgreen-color);
}

header {
  margin: 2rem;
  border-radius: .5rem;
}

.main_menu {
  display: flex;
  list-style-type: none;
  margin: 20px;
  width: 900px;
}
.main_menu li {
  display: block;
  width: 100px;
  float: left;
  margin-left: .5rem;
  border: 1px solid #000;
}
.main_menu a {
  display: block;
  padding: 3px;
  text-decoration: none;
  background-color: white;
  color: #009;
}
.main_menu a:hover {
  background-color: var(--lightgreen-color);
  color: white;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

.code_path {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: auto;
 place-items: center;
}

#simpletweet {
  background-color: var(--lightgray-color);
 }

#parstagram {
  background-color: var(--darkgray-color);
 }

section {
  margin: 1rem;
  border-radius: 2rem;
}

.border_gif {
  border-radius: 1rem;
  margin-left: 2.5rem;
  height: 75%;
}

.android_desc {
  margin: 5rem;
}

.android_title {
  margin-left: 5rem;
}

#viruses {
  background-color: var(--lightgray-color);
}
#viruses details {
  margin-left: 2rem;
}

